@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

footer {
 bottom: 0;
 width: 100%;
}


.header{
    height:0%;
    width:100%;
    margin:auto;
    top: 0;
    background-size:cover;
}

.navbar{
    height: 15%;
    width:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    transition: 0.5s;
    z-index: 900;
}

.navbar ul li{
    list-style-type:none;
    display: inline-block;
    padding: 18px 55px;
    color: white;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    opacity: 1;
    padding-top: 2.5%;
}

.navbar ul li:hover{
    background: #F1828D; 
}

.intro {
    text-align: left;
    font-size:150%;
    color: black;
    letter-spacing: 1%;
    margin: 15% 0;
    margin-bottom: 0%;
    padding-top: 3%;
    padding-left: 35%;
    padding-right: 10%
}

.rectangle {
    min-height: 120px;
    background-color: #8FB9A8;
}


a:link
{
    color:#FFFFFF;
    opacity=1; 
    text-decoration: none;
}

a:visited
{
    color:#FFFFFF;
    opacity=1;
    text-decoration: none;
}

a:hover 
{
    color:#FFFFFF;
    opacity=1;
    text-decoration: none;
}

.footer-comp {
	float: left;
	width: 120px;
	height: 30px;
	transition: all 0.25s;
}

.footer-img {
	height: 65%;
	margin: 5%;
	margin-right: 10px;
	margin-left: 10px;
	border: none;
	float: left;
}


.footer-text {
	font-size: 14px;
	line-height: 30px;
	text-align: center;	
	color: black;
	float: left;
}

.footer-rect {
    width: 100%;
    height: 35px;
    background-color: #8FB9A8;
    z-index:  -1;
    position: absolute;
}

img{
    width: 100;
    height: 500px;
}

#slider {
    width: 770px;
    height: 520px;
    margin: 5% 25%;
    position: relative;
    border: 10px solid white;
    box-shadow: 0px 0px 5px 2px #ccc;
    z-index: 800;
}

button {
    padding:20px;
    border: none;
    background: #F1828D;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 45%; 
    cursor: pointer;
}

.next {
    border-radius: 10px 0px 0px 10px;
    margin-left: 693px;
}

.prev {
    border-radius: 0px 10px 10px 0px;
}

p{
    text-align: left;
    font-size: 200%;
    color: black;
    letter-spacing: 1%;
    padding-top: 3%;
    padding-left: 5%;
    font-family: 'Raleway', sans-serif; 
}

h1.first{
    text-align:left;
    font-size:400%;
    color: black;
    letter-spacing: 1%;
    margin: 10% 0;
    margin-bottom: 0%;
}

h1.two{
    text-align:left;
    font-size: 400%;
    color: black;
    letter-spacing: 1%;
    margin: 5% 0;
    margin-bottom: 0%;
}

list1 {
    padding-left: 10%; 
    font-size: 90%;
    color: black; 
}

@media (max-width: 600px) {
    .navbar ul li{
        list-style-type:none;
        display: inline-block;
        padding: 9px 21px;
        color: white;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.2s;
        opacity: 1;
        padding-top: 2.2%; 
        
    }
    
    .rectangle {
        min-height: 90px;
        background-color: #8FB9A8;
    }
    
    .footer-img {
        height: 50%;
        width: 13%;
        margin: 5%;
        margin-right: 2px;
        margin-left: 10px;
        border: none;
        float: left;
    }
    

    .footer-text {
        font-size: 13px;
        line-height: 30px;
        text-align: center;	
        color: black;
        float: left;
        
    }

   
    h1.first{
        padding-top: 19%;
        text-align:left;
        font-size:200%;
        color: black;
        letter-spacing: 1%;
        margin: 10% 0;
        margin-bottom: 0%;
    }

    h1.two{
        text-align:left;
        font-size: 200%;
        color: black;
        letter-spacing: 1%;
        margin: 5% 0;
        margin-bottom: 0%;
    }
    p{
        text-align: left;
        font-size: 100%;
        color: black;
        letter-spacing: 1%;
        padding-top: 3%;
        padding-left: 5%;
        font-family: 'Raleway', sans-serif; 
    }
    
    img{
        width: 280px;
        height: 200px;
    }

    #slider {
        width: 300px;
        height: 220px;
        margin: 5% 8%;
        position: relative;
        border: 10px solid white;
        box-shadow: 0px 0px 5px 2px #ccc;
        z-index: 800;
    }

    button {
        padding:2px;
        border: none;
        background: #F1828D;
        font-size:30px;
        color: white;
        position: absolute;
        top: 45%; 
        cursor: pointer;
    }
    
    .next {
        border-radius: 10px 0px 0px 10px;
        margin-left: 259px;
    }

}

